<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>10.10 Homework - Mailbox v.1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D704E9061DAC1AC200215424</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D704E91A1DAC1AC200215424</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D704E9251DAC1AC200215424</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
